<!--Page Title-->
    <section class="page-title" style="background-image:url(/themes/custom/rotary_bootstrap/images//background/5.jpg);">
        <div class="auto-container">
            <h1>{{label}}</h1>
         </div>
    </section>
    <div class="row mt-4">
      <div class="col-12">
        {{content}}
      </div>
    </div

    <!--End Page Title-->
