<!--Page Title-->
{% set banner_image = file_url(node.field_banner_image.entity.uri.value) %}

<section class="page-title" style="background-image:url({{banner_image}});">
	<div class="auto-container">
		<h1>{{label}}</h1>
	</div>
</section>
<div class="row mt-4">
	<div class="col-12">
		{{content}}
	</div>
</div<!--EndPageTitle-->
