<style>
	.schedule-block .list-group-item {
		padding: 0 !important;
		margin-bottom: 0 !important;
		font-weight: bold
	}
	.schedule-block .img {
		object-fit: none; /* Do not scale the image */
		object-position: center; /* Center the image within the element */
		height: 100px;
		width: 100px;
	}

    .img-thumbnail {
        width: 129px;
    display: block;
    }
</style>
<section class="schedule-section">
	<div class="anim-icons">
		<span class="icon icon-circle-4 wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;"></span>
		<span class="icon icon-circle-3 wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;"></span>
	</div>

	<div class="auto-container">
		<div class="sec-title text-center">
			<span class="title">Raama Sambhrama</span>
			<h2>Programme & Speakers</h2>
		</div>

		<div class="schedule-tabs tabs-box">
			<div
				class="btns-box">
				<!--Tabs Box-->
				<ul class="tab-buttons clearfix">
					<li class="tab-btn active-btn" data-tab="#tab-1">
						<span class="day">Day 01</span>
						<span class="date">07</span>
						<span class="month">Jan</span>
						2021
					</li>

					<li class="tab-btn" data-tab="#tab-2">
						<span class="day">Day 02</span>
						<span class="date">08</span>
						<span class="month">Jan</span>
						2021
					</li>

					<li class="tab-btn" data-tab="#tab-3">
						<span class="day">Day 03</span>
						<span class="date">09</span>
						<span class="month">Jan</span>
						2021
					</li>
					<li class="tab-btn" data-tab="#tab-4">
						<span class="day">Event</span>
						<span class="date">09</span>
						<span class="month">Jan</span>
						2021

					</li>

				</ul>
			</div>

			<div
				class="tabs-content">

				<!--Tab-->
				<div class="tab active-tab" id="tab-1">
					<div
						class="schedule-timeline">
						<!-- schedule Block -->
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">3.00 PM</div>
									<h4>
										Registration counters open
									</h4>
									<h4>
										Tea and snacks
									</h4>

								</div>
							</div>
						</div>

						<!-- schedule Block -->
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">5.30 PM</div>
									<h4>
										Inaugural Session: (presided over by the District Governor)
									</h4>
									<div>


										<ul class="list-group-flush">
											<li class="list-group-item">Welcome Dance
											</li>
											<li class="list-group-item">Invocation.
											</li>
											<li class="list-group-item">Welcome :Conf. Chairman Rtn. Gururaj Girimaji</li>
											<li class="list-group-item">Felicitation to R.I. Officers</li>
											<li class="list-group-item">Welcome by Mayor of Shivamogga City: Smt. Sunitha Annappa.
											</li>
											<li class="list-group-item">Messages</li>
											<li class="list-group-item">Introductions
											</li>
											<li class="list-group-item">Our Rotary District 3182: District Governor Rtn.  M.G.Ramachandra Murthy</li>
											<li class="list-group-item">
												<iframe width="250" height="200" class="my-1" src="https://www.youtube.com/embed/GZ8ghAugjzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												<br/>Inauguration and Inaugural Address: Sri B.S Yedyurappa Ex-CM Karnataka
											</li>
											<li class="list-group-item">R.I.President’s Representative’s  address: PDG Rtn. T.V.R.Murthy
											</li>
											<li class="list-group-item">Felicitations:
											</li>
											<li class="list-group-item">Sri B.Y Raghavendra, Member of Parliament, Shivamogga.</li>
											<li class="list-group-item">Rtn. S. Dattatri, Vice Chairman, K.S.S.I.D.C.
											</li>
											<li class="list-group-item">Rtn.D.S.Arun, recently elected M.L.C.
											</li>
											<li class="list-group-item">Response to felicitations
											</li>
											<li class="list-group-item">Announcements</li>
											<li class="list-group-item">Vote of Thanks: conference Secretary Rtn. Srinath Girimaji</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
                        <div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
                                
									<div class="date">7:30 PM</div>
									<h4>
										Conference Entertainment
									</h4>
                                    <div>
                                        <iframe width="250" height="200" src="https://www.youtube.com/embed/I9Er4peCkm0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">8:00 PM</div>
									<h4>
										District Cultural Events
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">•	Dist. Governor’s Opening Remarks
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">9:00 PM</div>
									<h4>
										Dinner
									</h4>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">10:00 PM</div>
									<h4>
										Lights off
									</h4>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Tab-->
				<div class="tab" id="tab-2">
					<div
						class="schedule-timeline">
						<!-- schedule Block -->
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">8:00 AM</div>
									<h4>
										Registration counter opens & Breakfast
									</h4>
								</div>
							</div>
						</div>

						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">9:00 AM</div>
									<h4>
										Inauguration of Rotary Exhibition
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">9:30 AM</div>
									<h4>
										Plenary session I [presided over by the District Governor]
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Dist. Governor’s Opening Remarks</li>
											<li class="list-group-item mb-2">
												<br/>
												“Seveyalli Santhrupti”: Sri Sri Sachidananda Saraswathi Swamiji.
																								                                                          Peetaadesh, Sri Vasavi Peetem
												<br/>
                                                <img class="img-thumbnail" src="/sites/default/files/profile_photo/chidananda.jpeg" >
												<iframe width="250" height="200" class="my-1"  src="https://www.youtube.com/embed/z9Pcpxu2tSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												<br /><a href="/sites/default/files/pdfs/bio_data_sachidananda_saraswathi.pdf">View Profile</a>
											</li>
											<li class="list-group-item">
                                            <br />Felicitation: Sri Sreesha Kuduvalli, Cinematographer, Shivamogga.</li>
                                            <div class="row">
                                            <div class="col-4 img">
														<a href="/sites/default/files/profile_photo/kudival_1.jpeg"><img src="/sites/default/files/profile_photo/kudival_1.jpeg"></a>
													</div>
                                            <div class="col-4 img">
														<a href="/sites/default/files/profile_photo/kudival_2.jpeg"><img src="/sites/default/files/profile_photo/kudival_2.jpeg"></a>
													</div>
                                            <div class="col-4 img">
														<a href="/sites/default/files/profile_photo/kudival_2.jpeg"><img src="/sites/default/files/profile_photo/kudival_3.jpeg"></a>
													</div>
                                            <div class="col-4 img">
														<a href="/sites/default/files/profile_photo/kudival_2.jpeg"><img src="/sites/default/files/profile_photo/kudival_.jpeg"></a>
													</div>
                                            </div>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">10:30 AM</div>
									<h4>
										UPDATE ON Rotary world vide: PDG. T.V.R.Muthy.
									</h4>

								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">11:15 AM</div>
									<h4>
										Tea Break
									</h4>

								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">11:30 AM</div>
									<h4>
										Plenary Session II
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Chairmen: Asst. Governors, Rtn. Govardhan & Rtn. Pradeep G S</li>
											<li class="list-group-item">“Rotary and Entrepreneurship”:  Rtn. Dr. M.I.M Nehruzii, Chairman, GEMS B SCHOOL, Bangalore.</li>
											<li class="list-group-item">Felicitation: Sri Rajendra R.E. National Champion, 2-wheeler rally.</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">12:30 PM</div>
									<h4>
										Plenary Session III
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Chairmen Asst. Governors, Rtn. K Padmanabha Kanchan & Rtn.Vinay.H.D
											</li>
											<li class="list-group-item">
												<iframe width="250" height="200" class="my-1 y-video"  src="https://www.youtube.com/embed/3nOZOLoJATc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												<br/>
												Declaration of Rotarians in Business and professions: Sri Achutha Gowda. 
																										Founder & MD, Fidelities Corp. Property Services Pvt Ltd.
												<br/>
												<a href="http://rotary.test:94/sites/default/files/pdfs/pdf_ag.pdf">View Profile</a>
											</li>
											<li class="list-group-item">Felicitation: Sri Kimmane Jayaram. Chairman, Kimmane Golf Resorts. <br />
                                            <a href="/sites/default/files/pdfs/kimmane.pdf">view profile</a>
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">1:30 PM</div>
									<h4>
										Lunch
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">2:30 PM</div>
									<h4>
										Plenary Session IV
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Chairmen: Asst.Governors,  Rtn. Jayaprakash Shetty & Rtn.Sandesh.T.S
											</li>
											<li class="list-group-item">
                                                <img class="img-thumbnail my-1" src="/sites/default/files/profile_photo/aakarsh.jpg" >
												<br/>
												“You are the Architect of your life”/ Illusion Show:  by Sri Aakarsh Bhat,    
																													            	Motivational speaker and Illusionist.
												<br />
                                                <iframe width="250" height="200" class="my-1 y-video"  src="https://www.youtube.com/embed/bPjv1_RqFxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">3:30 PM</div>
									<h4>
										District Governor’s time.
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">4:00 PM</div>
									<h4>
										Tea
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">4:30 PM</div>
									<h4>
										Rotary Year 2022-23: Presentations by DGE Rtn. Dr. Gowri Hadigal and her team
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">6:30 PM</div>
									<h4>
										Conference Entertainment
									</h4>
								</div>
							</div>
						</div>
						
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">8:00 PM</div>
									<h4>
										House of Friendship opens
																				                                        Dinner
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">10:00 PM</div>
									<h4>
										Lights off
									</h4>
								</div>
							</div>
						</div>


					</div>
				</div>

				<!--Tab-->
				<div class="tab" id="tab-3">
					<div
						class="schedule-timeline">
						<!-- schedule Block -->
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">8:00 AM</div>
									<h4>
										Breakfast
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">9:30 AM</div>
									<h4>
										Plenary Session IV
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Chairman Asst.Governor, Rtn. M P Ananda Murthy.
											</li>
											<li class="list-group-item">“You are the Architect of your life”/ Illusion Show:  by Sri Aakarsh Bhat,    
																													            	Motivational speaker and Illusionist.
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">10:15 AM</div>
									<h4>
										Plenary Session V
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Chairmen: Asst.Governors, Rtn. K Dhananjaya Prabhu & Rtn. Dr. Arun Hegde
											</li>
											<li class="list-group-item">Homage to Chief of Defence Services Late Bipin Rawath and his team
											</li>
											<li class="list-group-item">
												<iframe width="250" height="200" class="my-1 y-video"  src="https://www.youtube.com/embed/XAi8wIEyDsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												<br/>
												Presentation by Digendar Kumar, Maha Veera chakra awardee.
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">11:30 AM</div>
									<h4>
										Coffee break
									</h4>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">11:45 PM</div>
									<h4>
										Plenary session VI
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Chairmen: Asst.Governors,  Dr. K. Suresh Shenoy & Rtn. L T Thimmappa
											</li>
											<li class="list-group-item">
												<a href="/dr-shoba-srinath">“Parenting responsibilities in child development”:  Dr. Shobha Srinath. 
																									                                                Consultant Child and Adolescent Psychiatrist, NIMHANS</a>
											</li>
											<li class="list-group-item">
                                            <img class="img-thumbnail my-1" src="/sites/default/files/profile_photo/pavithra.jpeg" >
                                            <a href="/pavitra"> Felicitation: Dr.K.S.Pavithra, Consultant Psychiatrist and Bharatanatyam   
																											          Exponent. Shivamogga</a>
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">12:30 PM</div>
									<h4>
										Concluding session: [Presided by District Governor]
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">District Affairs
											</li>
											<li class="list-group-item">Recognitions: RAMASAMBHRAMA TEAM
											</li>
											<li class="list-group-item">Impressions- R.I.President’s Representative, DGE Dr. H. Gowri, DGN Geetha
											</li>
											<li class="list-group-item">Concluding Remarks – District Governor
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">2:00 PM</div>
									<h4>
										2.00p.m. Conference adjourns with Lunch
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Tab-->
				<div class="tab" id="tab-4">
					<div
						class="schedule-timeline">
						<!-- schedule Block -->
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">8th Jan</div>
									<h4>
										Visit Conference Exhibition
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">Showcasing Clubs’ projects and display of Hobbies and collections of Rotarians and their families on 8th January only.
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block">
							<div class="inner-box">
								<div class="inner">
									<div class="date">8th Jan 2:00 PM</div>
									<h4>
										2.	Special activities:
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">CONDUCTED TOUR OF KIMMANE GOLF RESORTS.
											</li>
											<li class="list-group-item">ITSY BITSY : Make and Take Arts and Crafts demonstration
											</li>
											<li class="list-group-item">
												<a href="http://rotary.test:94/dirt-bike">Dirt Bike Motocross Show: Sri Rajendra R.E.</a>
												<br/>
												<div class="row my-1">
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/11.jpeg"><img src="/sites/default/files/bike-ride/11.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/1.jpeg"><img src="/sites/default/files/bike-ride/1.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/2.jpeg"><img src="/sites/default/files/bike-ride/2.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/3.jpeg"><img src="/sites/default/files/bike-ride/3.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/4.jpeg"><img src="/sites/default/files/bike-ride/4.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/5.jpeg"><img src="/sites/default/files/bike-ride/5.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/6.jpeg"><img src="/sites/default/files/bike-ride/6.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/7.jpeg"><img src="/sites/default/files/bike-ride/7.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/8.jpeg"><img src="/sites/default/files/bike-ride/8.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/9.jpeg"><img src="/sites/default/files/bike-ride/9.jpeg"></a>
													</div>
													<div class="col-4 img">
														<a href="/sites/default/files/bike-ride/10.jpeg"><img src="/sites/default/files/bike-ride/10.jpeg"></a>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>
						<div class="schedule-block even">
							<div class="inner-box">
								<div class="inner">
									<div class="date">9th Jan 8-11 am:
									</div>
									<h4>
										2.	Special activities:
									</h4>
									<div>
										<ul class="list-group-flush">
											<li class="list-group-item">•	Visit to Sakrebail Elephant Camp.[Please register your names at the Registration counter]
																								For details contact: Rtn. Kadidal Sadananda 9448123646 / 
																								Dr. R.Ramesh : 9448626825

											</li>

										</ul>
									</div>
									<div class="btn-box">
										
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>
